<app-header></app-header>

<router-outlet></router-outlet>

<ul> 
  <li><a >Mens</a></li>
  <li><a (click)="displayWomen()">Women</a></li>
  <li><a (click)="displayKids()" >Kids</a></li>
  <li><a (click)="displaySale()">Sale</a></li>
</ul>
@if(showSale) {
  <app-sale></app-sale>
}


@if(showWomens) { 
  <app-women></app-women>
}


@if(showKids) {
  <app-kids></app-kids>
}


  
  
  
  <!-- <p> today is my first day of cooding</p> -->

<!-- <button (click)="getStudentDetails()">Submit</button> -->
<!-- <button (click)="searchCourseById(10)">  course number</button> -->
<!-- <button (click)="checkCaseStatus()"> check status</button> -->


<!-- <button (click)="getCSInfo()"> Check CS INFO</button> -->
<!-- <button (click)="getTestINFO()"> click for result</button> -->
<!-- <button (click)="getUNIList()"> click for details </button> -->
<!-- <button (click)="getMovieRatings()"> click gor updates</button> -->
 <!-- <button (click)=" movieDetail()">click for movie rating</button>  -->